body {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  background-color: #121212;
  color: white;
}

.heading {
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 30px;
  z-index: 1;
  text-align: center;
  margin-left: 15%;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
  }
}
